
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}
html {
    height: 100%;
}
body {
    background: #1F2023;
    font-family: poppins, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.section-padding {
    padding: 70px 0;
}

.padding {
    padding-top: 70px;
}

.navbar {
    padding: 30px 0;
    border-bottom: 2px solid #2D2E31;
}

.navbar .nav-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0 18px;
    font-size: 16px;
    color: #FFFFFF;
}

.navbar .navbar-nav .nav-item .nav-btn {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    border: 1px solid #B04BFF;
    padding: 6px 10px;
    border-radius: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* home main styling start */

.hero {
    padding: 60px 0;
}

.hero .modguard-info h1 {
    font-family: poppins;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.hero .modguard-info p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    font-family: poppins;
}

.hero .modguard-info .main-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 5px;
    background: linear-gradient(82.73deg, #367AFF -5.12%, #B04BFF 103.35%);
}

.server-section {
    background: #1B1C1F;
}

.server-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.server-section .server-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #191A1D;
    border-radius: 12px;
    padding: 15px 20px;
}

.server-section .server-items .server-item-img img {
    width: 100%;
}

.server-section .server-items .server-item-content h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;   
}

.server-section .server-items .server-item-content img {
    width: 16px;
    margin-left: 10px;
}

.server-section .server-items .server-item-content small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #656565;
}

.feature-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;    
}

.feature-section .feature-items h2 {
    font-family: 'Poppins';
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF
}

.feature-section .feature-items .border-bottom {
    width: 100%;
    border: none !important;
    outline: none;
    color: transparent;
    height: 5px;
    margin-bottom: 20px;
}

.pink {
    background: linear-gradient(67deg, #B75BFF -1.65%, #910DF9 101.36%);
}

.dark-pink {
    background: linear-gradient(90deg, #5B76FF -1.65%, #3927FF 101.36%);
}

.red {
    background: linear-gradient(90deg, #FF5B79 -1.65%, #F90D1C 101.36%);
}

.blue {
    background: linear-gradient(90deg, #5B89FF -1.65%, #27D8FF 101.36%);
}

.feature-section .feature-items p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    word-spacing: 1px;
    padding: 0;
    margin-bottom: 30px;
    color: #BEBEBE;    
}

.feature-section .feature-items img {
    width: 100%;
}

.madguard-info {
    background: linear-gradient(90deg, #5865F2 0.01%, #910DF9 100%);
}

.madguard-info .visit-modguard h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 36px;
    color: #FFFFFF
}

.madguard-info .visit-modguard .invite-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #fff;
    border-radius: 5px;
    font-size: 16px; 
    padding: 15px 25px;
}

/* home main styling end */

/* feature section start */
.feature-info .cta h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 54px;
    color: #FFFFFF;
}

.feature-info .cta .feature-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 8px 25px;
    border: 1px solid #B04BFF;
    border-radius: 5px;
}

/* feature section end */

/* About page start */

.about-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF; 
}

.about-card {
    background: #242528;
    border-radius: 12px;
    color: #fff;
}

.about-card .card-head {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #2D2E31;
}

.about-card .card-head .profile-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.about-card .card-head .profile-img img {
    width: 100%;
}

.about-card .card-head .profile-info h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.about-card .card-head .profile-info .pro-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding: 7px 11px;
    border-radius: 5px;   
}

.bg-red {
    background: #FF4646;
}

.bg-blue {
    background: #5865F2;
}

.bg-orange {
    background: #FF5C00;
}

.bg-green {
    background: #24FF00;
}

.bg-lightblue {
    background: #589FF2;
}

.bg-pink {
    background: #9C58F2;
}

.about-card .card-content {
    padding: 20px;
}

.about-card .card-content small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
    color: #737373;
}

.about-card .card-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}



/* About page end */


/* Commands page start */

.commands-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}

.commands-section .commands-card {
    background: #242528;
    border-radius: 12px;
    padding: 30px;
    color: #fff;
}

.commands-section .commands-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.commands-section .commands-card .usage small {
    font-family: 'Poppins';
    margin-bottom: 6px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

.commands-section .commands-card .permissions small {
    font-family: 'Poppins';
    margin-bottom: 6px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

.commands-section .commands-card .cmd-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.commands-section .commands-card .cmd-card-head h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.commands-section .commands-card .cmd-card-head .cmd-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #5865F2 -4.46%, #910DF9 119.64%);
    border-radius: 6px;
    padding: 6px 10px;    
}

/* Commands page end */

/* Branding page stsrt */

.branding-section .section-heading {
    margin-bottom: 100px;
}

.branding-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight:800;
    margin-bottom: 24px;
    font-size: 36px;
    color: #FFFFFF;
}

.branding-section .section-heading p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
}

.branding-section .branding-logo-card h2 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.branding-section .branding-logo-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 22px;
    color: #FFFFFF;   
}

.branding-section .branding-logo-card img {
    width: 170px;
    height: 170px;
    margin-bottom: 14px;
}

.branding-section .branding-btn .btn {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    margin-right: 10px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #B04BFF;
}

/* Branding page end */


/* Plans page start */

.plans-section .section-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}

.plans-section .pricing-card {
    background: #242528;
    border-radius: 12px;
    padding-bottom: 50px;
}

.plans-section .pricing-card .card-head {
    color: #fff;
    border-bottom: 1px solid #2D2E31;
    padding: 30px 20px 60px 20px;

    height: 150px;
}

.plans-section .pricing-card .card-head .card-profile {
    display: flex;
    position: relative;
    gap: 10px;
}

.plans-section .pricing-card .card-head .card-profile .profile-info h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.plans-section .pricing-card .card-head .card-profile .profile-info h4 span {
    font-weight: 500;
    font-size: 22px;
    color: #EBFF00;
    
}

.plans-section .pricing-card .card-head .card-profile .profile-info .pro-btn {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 10px;
    color: #FFFFFF;
    padding: 6px 10px;
    display: table;
    margin-bottom: 4px;
    align-items: center;
    background: #3927FF;
    border-radius: 5px;
}

.plans-section .pricing-card .card-head .card-profile .profile-info .last-pro-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: #FFFFFF;
    padding: 6px 10px;
    background: linear-gradient(90deg, #5865F2 -4.46%, #910DF9 119.64%);
    border-radius: 6px;
    position: absolute;
    top: -20px;
    right: -10px;
}

.plans-section .pricing-card .card-body .pricing-card-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 24px; */
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #B04BFF;   
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.plans-section .pricing-card .card-head h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;  
}

.plans-section .pricing-card .card-body {
    color: #fff;
    padding: 10px 10px;
    height: 700px;
}

.plans-section .pricing-card .card-body small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    color: #737373;    
}

.plans-section .pricing-card .card-body p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding-top: 0 !important;
    color: #FFFFFF;
    padding: 10px;
    border-bottom: 1px solid #2D2E31;
}

.plans-section .pricing-card .card-body ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.plans-section .pricing-card .card-body ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 30px 0;
    border-bottom: 1px solid #2D2E31;
    text-align: center;
}

.plans-section .pricing-card .card-body ul li img {
    width: 18px;
}

/* Plans page end */


/* Main Styling Start */

main .page-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 30px; 
    color: #FFFFFF;
    padding: 40px 0;
}


.exclamation-section {
    background: linear-gradient(90deg, #5865F2 0.01%, #910DF9 100%);
    padding: 12px 0;
}

.exclamation-section .exclamation-mark  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px; 
    color: #FFFFFF;
}

.exclamation-section .exclamation-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 22px; 
    color: #FFFFFF;
}

main .imprint-content {
    padding: 120px 0;
}

main .imprint-content h4 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 33px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

main .imprint-content  p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #BAB4B4;
}

/* Main Styling End */


/* Status Page Start */

.bg-black {
    background: rgba(36, 37, 40, 0.7);
}

.bg-green {
    background: rgba(0, 255, 41, 0.7);
}

.bg-red1 {
    background: rgba(230, 0, 2, 0.7);
}

.bg-gray {
    background: rgba(94, 98, 94, 0.7)
}

.bg-pink1 {
    background: rgba(202, 0, 253, 0.7);
}

.bg-midyellow {
    background: rgba(211, 191, 4, 0.7)
}

.bg-gold {
    background: rgba(253, 137, 0, 0.7);
}

main .status-section .status-bar {
    height: 70px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 40px;
}

main .status-section .status-bar p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;   
}

main .status-bars .status-bar {
    color: #fff;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    border-radius: 12px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-bars .status-bar div h4 {
    margin-bottom: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;    
    color: #FFFFFF;
}

.status-bars .status-bar div small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    color: #969696;
}

.status-bars .status-bar div span {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
}

.status-bar-services .service-card {
    background: #242528;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.status-bar-services .service-card .card-content h4 {
    font-family: 'Poppins';
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}

.status-bar-services .service-card .card-content small {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #969696;
}

main .server-cluster .server-cluster-card {
    background: #242528;
    color: #fff;
    border-radius: 12px;
    padding: 20px;
    height: 500px;
}

.server-cluster .server-cluster-card .server-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.server-cluster .server-cluster-card .server-card-head h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.server-cluster .server-cluster-card .server-card-head .badge {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 6px 15px;
    background: linear-gradient(90deg, rgba(0, 255, 41, 0.7) 0%, rgba(0, 253, 25, 0.7) 99.99%);
    border-radius: 6px
}

.server-cluster .server-cluster-card .server-card-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.server-cluster .server-cluster-card .server-card-body .card-badge {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.server-cluster .server-cluster-card .server-card-body .card-badge h6 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

.server-cluster .server-cluster-card .server-card-body .card-badge span, small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;   
    color: #1B1B1B;
}




/* Status Page End */




/* footer section start */
#footer {
    padding: 100px 0; 
    background: #151516;
    margin-top: auto;
}

#footer .footer-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#footer .copyright-text {
    /* margin-top: 10px; */
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

#footer .footer-links {
    align-items: flex-start;
}

#footer .footer-links h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

#footer .footer-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    padding-left: 0;
}

#footer .footer-links ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

#footer .footer-links ul li a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #969696;

}


@media only screen and (max-width: 600px) {
    .navbar .navbar-nav .nav-item .nav-btn {
        display: inline-block;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        margin: 5px 0px;
    }

    .server-section .server-items { 
        flex-wrap: wrap;  
    } 
} 