
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}


img {
    pointer-events: none;
}


.btn-site {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 8px 25px;
    border: 1px solid #B04BFF;
    border-radius: 5px;
}


::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
::-webkit-scrollbar
 {
     width: 12px;
     background-color: #F5F5F5;
 }
 
::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
 }

/* ::-webkit-scrollbar {
  width: 5px;
} */


/* ::-webkit-scrollbar-track {
  background:  linear-gradient(90deg, #5865F2 0.01%, #910DF9 100%);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
} */
 

html {
    height: 100%;
}
body {
    background: #1F2023;
    font-family: poppins, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

.alert-success {
    background: rgba(0, 255, 41, 0.7);
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    border: none;
}
.section-padding {
    padding: 70px 0;
}

.padding {
    padding-top: 70px;
}

.navbar {
    padding: 30px 0;
    border-bottom: 2px solid #2D2E31;
}

.navbar .nav-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0 18px;
    font-size: 16px;
    color: #ffff;
}

.navbar .navbar-nav .nav-item .nav-link:hover { 
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.navbar .navbar-nav .nav-item .nav-btn {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    border: 1px solid #B04BFF;
    padding: 6px 10px;
    border-radius: 5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* home main styling start */

.hero {
    padding: 60px 0;
}

.hero .modguard-info h1 {
    font-family: poppins;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.hero .modguard-info p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    font-family: poppins;
}

.hero .modguard-info .main-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 5px;
    background: linear-gradient(82.73deg, #367AFF -5.12%, #B04BFF 103.35%);
}

.server-section {
    background: #1B1C1F;
}

.server-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.server-section .server-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #191A1D;
    border-radius: 12px;
    padding: 15px 20px;
}

.server-section .server-items .server-item-img img {
    width: 100%;
}

.server-section .server-items .server-item-content h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;   
}

.server-section .server-items .server-item-content img {
    width: 16px;
    margin-left: 10px;
}

.server-section .server-items .server-item-content small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #656565;
}

.feature-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;    
}

.feature-section .feature-items h2 {
    font-family: 'Poppins';
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF
}

.feature-section .feature-items .border-bottom {
    width: 100%;
    border: none !important;
    outline: none;
    color: transparent;
    height: 5px;
    margin-bottom: 20px;
}

.pink {
    background: linear-gradient(67deg, #B75BFF -1.65%, #910DF9 101.36%);
}

.dark-pink {
    background: linear-gradient(90deg, #5B76FF -1.65%, #3927FF 101.36%);
}

.red {
    background: linear-gradient(90deg, #FF5B79 -1.65%, #F90D1C 101.36%);
}

.blue {
    background: linear-gradient(90deg, #5B89FF -1.65%, #27D8FF 101.36%);
}

.feature-section .feature-items p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    word-spacing: 1px;
    padding: 0;
    margin-bottom: 30px;
    color: #BEBEBE;    
}

.feature-section .feature-items img {
    width: 100%;
}

.madguard-info {
    background: linear-gradient(90deg, #5865F2 0.01%, #910DF9 100%);
}

.madguard-info .visit-modguard h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    margin-bottom: 40px;
    font-size: 36px;
    color: #FFFFFF
}

.madguard-info .visit-modguard .invite-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #fff;
    border-radius: 5px;
    font-size: 16px; 
    padding: 15px 25px;
}

/* home main styling end */

/* feature section start */
.feature-info .cta h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 54px;
    color: #FFFFFF;
}

.feature-info .cta .feature-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 8px 25px;
    border: 1px solid #B04BFF;
    border-radius: 5px;
}

/* feature section end */

/* About page start */

.about-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF; 
}

.about-card {
    background: #242528;
    border-radius: 12px;
    color: #fff;
}

.about-card .card-head {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #2D2E31;
}

.about-card .card-head .profile-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.about-card .card-head .profile-img img {
    width: 100%;
}

.about-card .card-head .profile-info h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.about-card .card-head .profile-info .pro-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding: 7px 11px;
    border-radius: 5px;   
}

.bg-red {
    background: #FF4646;
}

.bg-blue {
    background: #5865F2;
}

.bg-orange {
    background: #FF5C00;
}

.bg-green {
    background: #24FF00;
}

.bg-lightblue {
    background: #589FF2;
}

.bg-pink {
    background: #9C58F2;
}

.about-card .card-content {
    padding: 20px;
}

.about-card .card-content small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
    color: #737373;
}

.about-card .card-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}



/* About page end */


/* Commands page start */

.commands-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}

.commands-section .commands-card {
    background: #242528;
    border-radius: 12px;
    padding: 30px;
    color: #fff;
}

.commands-section .commands-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.commands-section .commands-card .usage small {
    font-family: 'Poppins';
    margin-bottom: 6px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

.commands-section .commands-card .permissions small {
    font-family: 'Poppins';
    margin-bottom: 6px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

.commands-section .commands-card .cmd-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.commands-section .commands-card .cmd-card-head h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.commands-section .commands-card .cmd-card-head .cmd-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #5865F2 -4.46%, #910DF9 119.64%);
    border-radius: 6px;
    padding: 6px 10px;    
}

/* Commands page end */

/* Branding page stsrt */

.branding-section .section-heading {
    margin-bottom: 100px;
}

.branding-section .section-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight:800;
    margin-bottom: 24px;
    font-size: 36px;
    color: #FFFFFF;
}

.branding-section .section-heading p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
}

.branding-section .branding-logo-card h2 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.branding-section .branding-logo-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 22px;
    color: #FFFFFF;   
}

.branding-section .branding-logo-card img {
    width: 170px;
    height: 170px;
    margin-bottom: 14px;
}

.branding-section .branding-btn .btn {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    margin-right: 10px;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #B04BFF;
}

/* Branding page end */


/* Plans page start */

.plans-section .section-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}

.plans-section .pricing-card {
    background: #242528;
    border-radius: 12px;
    padding-bottom: 50px;
}

.plans-section .pricing-card .card-head {
    color: #fff;
    border-bottom: 1px solid #2D2E31;
    padding: 30px 20px 60px 20px;

    height: 150px;
}

.plans-section .pricing-card .card-head .card-profile {
    display: flex;
    position: relative;
    gap: 10px;
}

.plans-section .pricing-card .card-head .card-profile .profile-info h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.plans-section .pricing-card .card-head .card-profile .profile-info h4 span {
    font-weight: 500;
    font-size: 22px;
    color: #EBFF00;
    
}

.plans-section .pricing-card .card-head .card-profile .profile-info .pro-btn {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 10px;
    color: #FFFFFF;
    padding: 6px 10px;
    display: table;
    margin-bottom: 4px;
    align-items: center;
    background: #3927FF;
    border-radius: 5px;
}

.plans-section .pricing-card .card-head .card-profile .profile-info .last-pro-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: #FFFFFF;
    padding: 6px 10px;
    background: linear-gradient(90deg, #5865F2 -4.46%, #910DF9 119.64%);
    border-radius: 6px;
    position: absolute;
    top: -20px;
    right: -10px;
}

.plans-section .pricing-card .card-body .pricing-card-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 24px; */
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #B04BFF;   
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.plans-section .pricing-card .card-head h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;  
}

.plans-section .pricing-card .card-body {
    color: #fff;
    padding: 20px 0px;
    height: 700px;
}

.plans-section .pricing-card .card-body small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    color: #737373;    
}

.plans-section .pricing-card .card-body p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding-top: 0 !important;
    color: #FFFFFF;
    padding: 10px;
    border-bottom: 1px solid #2D2E31;
}

.plans-section .pricing-card .card-body ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.plans-section .pricing-card .card-body ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 30px 0;
    border-bottom: 1px solid #2D2E31;
    text-align: center;
}

.plans-section .pricing-card .card-body ul li img {
    width: 18px;
}

/* Plans page end */


/* Main Styling Start */

main .page-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px; 
    color: #FFFFFF;
    padding: 40px 0;
}

main .page-subheading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    background: linear-gradient(90deg, #367AFF 3.96%, #B04BFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

main .page-subheading img {
    width: 40px;
    margin-left: 10px;
}

.exclamation-section {
    background: linear-gradient(90deg, #5865F2 0.01%, #910DF9 100%);
    padding: 12px 0;
}

.exclamation-section .exclamation-mark  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px; 
    color: #FFFFFF;
}

.exclamation-section .exclamation-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 22px; 
    color: #FFFFFF;
}

main .imprint-content {
    padding: 120px 0;
}

main .imprint-content h4 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 33px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

main .imprint-content  p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #BAB4B4;
}

/* Main Styling End */


/* Status Page Start */

.bg-black {
    background: rgba(36, 37, 40, 0.7);
}

.bg-green {
    background: rgba(0, 255, 41, 0.7);
}

.bg-red1 {
    background: rgba(230, 0, 2, 0.7);
}

.bg-gray {
    background: rgba(94, 98, 94, 0.7)
}

.bg-pink1 {
    background: rgba(202, 0, 253, 0.7);
}

.bg-midyellow {
    background: rgba(211, 191, 4, 0.7)
}

.bg-gold {
    background: rgba(253, 137, 0, 0.7);
}

main .status-section .status-bar {
    height: 70px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 40px;
}

main .status-section .status-bar p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;   
}

main .status-bars .status-bar {
    color: #fff;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    border-radius: 12px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-bars .status-bar div h4 {
    margin-bottom: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;    
    color: #FFFFFF;
}

.status-bars .status-bar div small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    color: #969696;
}

.status-bars .status-bar div span {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
}

.status-bar-services .service-card {
    background: #242528;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.status-bar-services .service-card .card-content h4 {
    font-family: 'Poppins';
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}

.status-bar-services .service-card .card-content small {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #969696;
}

main .server-cluster .server-cluster-card {
    background: #242528;
    color: #fff;
    border-radius: 12px;
    padding: 20px;
    height: 500px;
}

.server-cluster .server-cluster-card .server-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.server-cluster .server-cluster-card .server-card-head h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.server-cluster .server-cluster-card .server-card-head .badge {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 6px 15px;
    server-cluster-card    border-radius: 6px
}

.server-cluster .server-cluster-card .server-card-body {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    /* gap: 16px; */

}

.server-cluster .server-cluster-card .server-card-body .card-badge {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.server-cluster .server-cluster-card .server-card-body .card-badge h6 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

.server-cluster .server-cluster-card .server-card-body .card-badge span, small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;   
    color: #1B1B1B;
}




/* Status Page End */




/* footer section start */
#footer {
    padding: 100px 0; 
    background: #151516;
    margin-top: auto;
}

#footer .footer-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#footer .copyright-text {
    /* margin-top: 10px; */
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

#footer .footer-links {
    align-items: flex-start;
}

#footer .footer-links h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

#footer .footer-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    padding-left: 0;
}

#footer .footer-links ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

#footer .footer-links ul li a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #969696;

}

#footer .footer-links ul li a:hover {
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* 401 PAGE START */

main .main-heading {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .main-heading h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    padding: 0;
    font-size: 100px;
    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

main .main-heading p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    padding: 0;
    margin-top: -20px;
    color: #878787
}

/* 401 PAGE END */

/* GUILDS PAGE START */

main .guilds-section {
    height: auto;
}

main .guilds-section .guilds-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #242528;
    border-radius: 12px;
    padding: 15px;
    color: #fff;
}

main .guilds-section .guilds-card .card-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .guilds-section .guilds-card .card-content img {
    width: 80px;
}

main .guilds-section .guilds-card .card-content .card-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

main .guilds-section .guilds-card .card-content .card-title .title-head {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

main .guilds-section .guilds-card .card-content .card-title .title-head h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

main .guilds-section .guilds-card .card-content .card-title .title-head .guilds-badge {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    padding: 5px 12px;
    display: inline-block;
    background: linear-gradient(90deg, #F97E0D -4.46%, #F92A0D 119.64%);
    border-radius: 6px;
}

main .guilds-section .guilds-card .card-content .card-title .title-id small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    padding: 0;
    margin: 0;
}

main .guilds-section .guilds-card .card-button .guilds-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 12px;
}

.manage-btn {
    background: linear-gradient(90.48deg, #00FF0A -12.6%, #8FFF00 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 2px solid #00FF0A;
}

.locked-btn {
    background: linear-gradient(90.48deg, #FF9900 -12.6%, #FAFF00 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 2px solid #FF8A00;
}

.protect-btn {
    background: linear-gradient(90.48deg, #B60000 -12.6%, #FF0000 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 2px solid #B6000A;    
}

/* GUILDS PAGE END */

/* GUILDS DETAILS PAGE START */

main .guilds-details-section .guilds-details-sidebar {
    padding: 24px;
    background: #242528;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: #fff;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    margin-bottom: 30px;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content img {
    width: 80px;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content .card-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content .card-title .title-head {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content .card-title .title-head h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content .card-title .title-head .guilds-badge {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    padding: 5px 12px;
    display: inline-block;
    background: linear-gradient(90deg, #F97E0D -4.46%, #F92A0D 119.64%);
    border-radius: 6px;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .card-content .card-title .title-id small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    padding: 0;
    margin: 0;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .sidebar-links ul {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

main .guilds-details-section .guilds-details-sidebar .sidebar-head .sidebar-links ul li {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(90.48deg, #00FF66 -12.6%, #367AFF -12.58%, #B04BFF 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; 
    border: 1px solid #367AFF;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 8px;   
}



main .guilds-details-section .guilds-tag {
    background: #242528;
    border-radius: 12px;
    color: #fff;
    padding: 14px;
}

main .guilds-details-section .guilds-tag h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
}

main .guilds-details-section .guilds-tag small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #969696;
}


/* GUILDS DETAILS PAGE END */

/* LEADERBOARD PAGE START */

.support-section .support-card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(36, 37, 40, 0.7);
    border-radius: 12px;
}

.support-section .support-card .card-item-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.support-section .support-card .card-item-left img {
    width: 100px;
}

.support-section .support-card .card-item-left div h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.support-section .support-card .card-item-left div small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #969696;
}

.support-section .support-card .card-item-right .service-card {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    background: #242528;
    border-radius: 12px;
}

.support-section .support-card .card-item-right .service-card .card-content h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.support-section .support-card .card-item-right .service-card .card-content small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #969696
}

.leaderboard-table-section table thead {
    /* background: rgba(36, 37, 40, 0.7); */
    color: #fff;
    padding: 10px;
}

.leaderboard-table-section table thead tr th {
    border: none;
    margin-bottom: 10px;
}

.leaderboard-table-section table tbody {
    color: #fff;
}

.leaderboard-table-section table tr {
    /* background: rgba(36, 37, 40, 0.7); */
    /* border-radius: 12px; */
    border: none;
    margin-top: 10px;
    align-items: center;
} 

.leaderboard-table-section table tr td,
.leaderboard-table-section table tr th {
    background: rgba(36, 37, 40, 0.7);
}
.leaderboard-table-section table  {
    border-collapse: separate; 
    border-spacing:0 20px;
}

.leaderboard-table-section table tr td:first-child,
.leaderboard-table-section table tr th:first-child {
  border-radius: 12px 0 0 12px;
  /* border: 1px solid #000; */
}
 
.leaderboard-table-section table tr td:last-child,
.leaderboard-table-section table tr th:last-child {
  border-radius: 0 12px 12px 0;
  /* border: 1px solid #000; */
}


.leaderboard-table-section table tbody .table-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.leaderboard-table-section table tbody .table-user img {
    width: 50px;
}

.leaderboard-table-section table tbody .table-user h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
    position: relative;
}

.leaderboard-table-section table tbody .table-user h6 .online-status {
    width: 12px;
    height: 12px;
    margin-left: 1px;
    margin-top: -3px;
    display: inline-block;
    background: #00FD19;
    border-radius: 50%; 

    /* position: absolute;
    top: -5px;
    right: -20px; */
}

.leaderboard-table-section table tbody .table-user small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #969696;   
}
 .leaderboard-table-section table tbody .table-progress .progress-bar {
    color: #fff;
    background: linear-gradient(90deg, #367AFF -1.31%, rgba(176, 75, 255, 1) 121.69%); 
    border-radius: 12px;
}

 
.leaderboard-table-section table tbody .table-progress .circle_percent {font-size:200px; width:50px; height:50px; position: relative; background: #0d0d0e; border-radius:50%; overflow:hidden; display:inline-block; }
.leaderboard-table-section table tbody .table-progress .circle_inner {position: absolute; left: 0; top: 0; width: 50px; height: 50px; clip:rect(0 50px 50px 25px);}
.leaderboard-table-section table tbody .table-progress .round_per {position: absolute; left: 0; top: 0; width: 50px; height: 50px; background: orange; clip:rect(0 50px 50px 25px); transform:rotate(180deg); transition:1.05s;}
.leaderboard-table-section table tbody .table-progress .percent_more .circle_inner {clip:rect(0 .5em 50px 0em);}
.leaderboard-table-section table tbody .table-progress .percent_more:after {position: absolute; left: .5em; top:0em; right: 0; bottom: 0; background: orange; content:'';}
.leaderboard-table-section table tbody .table-progress .circle_inbox {position: absolute; top: 3px; left: 3px; right: 3px; bottom: 3px; background: #222426; z-index:3; border-radius: 50%;}
.leaderboard-table-section table tbody .table-progress .percent_text {position: absolute; color: #fff; font-size: 10px; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 3;}


.leaderboard-table-section table tbody .table-progress .progress { 
    background: rgb(31, 32, 35);  
    border-radius: 12px;
    
}


.leaderboard-table-section table tr td,
.leaderboard-table-section table tr th {
    /* align-items: center; */
    padding: 12px 20px;

    vertical-align: middle;
    display: table-cell;
}


.leaderboard-table-section .table-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin: 50px auto;
    padding: 8px 16px;
    border: 1px solid #B04BFF;
    border-radius: 5px;
    width: 130px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90.48deg, #958DD8 -12.6%, #5669BA 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparen
}

.leaderboard-table-section table tbody .table-category {
    background: #303033;
    border-radius: 12px;
    padding: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    color: #FFFFFF;
}

.leaderboard-table-section table tbody .table-comment {
    background: #303033;
    border-radius: 12px;
    padding: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    color: #FFFFFF;
} 

.leaderboard-table-section table tbody .table-proof ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px; 
    line-height: 30px;
    color: #BC7979;
}



/* LEADERBOARD PAGE END */


@media only screen and (max-width: 600px) {
    .navbar .navbar-nav .nav-item .nav-btn {
        display: inline-block;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        margin: 5px 0px;
    }

    .server-section .server-items { 
        flex-wrap: wrap;  
    } 

    .leaderboard-table-section table tr td, 
    .leaderboard-table-section table tr th {
            padding: 12px 5px;
    }
} 

.modguard-card .card-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px; 


    background: linear-gradient(90deg, #367AFF -1.6%, #B04BFF 102.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.modguard-card {
    background: rgba(36, 37, 40, 0.7);
    border-radius: 12px;
}


.modguard-card table thead {
    /* background: rgba(36, 37, 40, 0.7); */
    color: #fff;
    padding: 10px;
}

.modguard-card table thead tr th {
    border: none;
    margin-bottom: 10px;
}

.modguard-card table tbody {
    color: #fff;
}

.modguard-card table tr {
    /* background: rgba(36, 37, 40, 0.7); */
    /* border-radius: 12px; */
    border: none;
    margin-top: 10px;
    align-items: center;
} 

.modguard-card table tr td,
.modguard-card table tr th {
    background: transparent !important;
}
.modguard-card table  {
    border-collapse: separate; 
    border-spacing:0 20px;
}

.modguard-card table tr td:first-child,
.modguard-card table tr th:first-child {
  border-radius: 12px 0 0 12px;
  /* border: 1px solid #000; */
}
 
.modguard-card table tr td:last-child,
.modguard-card table tr th:last-child {
  border-radius: 0 12px 12px 0;
  /* border: 1px solid #000; */
}
 
 

.modguard-card table tbody .table-progress .progress-bar {
    color: rgba(36, 37, 40, 0.7);
    background: linear-gradient(90deg, #367AFF -1.31%, rgba(176, 75, 255, 0) 121.69%);
    filter: blur(2px) !important;
    border-radius: 12px;
}

.modguard-card table tbody .table-progress .progress { 
    background: rgba(176, 75, 255, 1); 
    /* filter: blur(2px); */
    border-radius: 12px;
    
}

.table-responsive {
    /* overflow: hidden !important; */
}

.modguard-card table tr td,
.modguard-card table tr th {
    /* align-items: center; */
    padding: 12px 20px;

    vertical-align: middle;
    display: table-cell;
}

.modguard-card .card-header {
   border: none !important;
   background-color: transparent !important;
}
 
.modguard-card .support-card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: rgba(36, 37, 40, 0.7); */
    border-radius: 12px;
}

.modguard-card .support-card .card-item-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modguard-card .support-card .card-item-left img {
    width: 100px;
}

.modguard-card .support-card .card-item-left div h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.modguard-card .support-card .card-item-left div small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #969696;
}

.modguard-card .support-card .card-item-right .service-card {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    background: #242528;
    border-radius: 12px;
}

.modguard-card .support-card .card-item-right .service-card .card-content h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.modguard-card .support-card .card-item-right .service-card .card-content small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #969696
}

.global-form {
    background: #242528;
    border-radius: 12px;
    padding: 50px;
}

.global-form .form-bottom-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    
    color: #7D7D7D;
}


.global-form .form-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


    color: #FFFFFF;

}

.global-form form .form-group label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px; 
    color: #FFFFFF;
    margin-bottom: 10px;
}

.global-form form .form-group input {
    background: #FFFFFF;
    border-radius: 12px;
    height: 54px;
}

.account-bottom {
    background: #242528;
    border-radius: 12px;
    padding: 30px;
}

.account-bottom h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.account-bottom p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 20px; 
    color: #7D7D7D;
 }

.account-bottom .btn-success-gradient {
    padding: 10px 30px;
    width: 200px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(90deg, #00FF29 -1.9%, #00FFC2 102.53%); 


    cursor: pointer;
}

.account-bottom .btn-success-gradient span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    
    background: linear-gradient(90.48deg, #00FF29 -12.6%, #00FFC2 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 999;
    position: relative;
}

.account-bottom .btn-success-gradient::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: #1F2023;
    border-radius: 5px;
}


.account-bottom .btn-danger-gradient {
    padding: 10px 30px;
    width: 200px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(90deg, #FF3636 -1.9%, #B04BFF 102.53%);  
    cursor: pointer;
}

.account-bottom .btn-danger-gradient span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    background: linear-gradient(90.48deg, #FF0000 -12.6%, #B04BFF 116.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 9999;

    position: relative;
}

.account-bottom .btn-danger-gradient::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: #1F2023;
    border-radius: 5px;
}

/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #1F2023;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}